body, html {
            height: 100%;
            font-family: 'Poppins', sans-serif;
        }

        .nav-link {
            color: gray;
            font-weight: 500;
        }

        .nav-link.active,
        .nav-link:hover {
            color: black;
        }

        .sidebar {
            background-color: #f8f9fa;
            height: 100vh;
            padding: 20px;
            border-right: 1px solid #ddd;
        }

        .content {
            padding: 20px;
            height: 100vh;
            overflow-y: auto;
        }

        #loading {
            text-align: center;
            padding: 30px;
            font-size: 18px;
            font-weight: bold;
        }